* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: "Orbitron", sans-serif;
}
:root {
  --bg-dark: rgba(0, 0, 0);
  --bg-blue: rgba(87, 184, 255);
  --text-white: rgba(255, 255, 255, 1);
}
body.dark {
  --bg-dark: rgba(87, 184, 255, 1);
  --bg-blue: rgba(0, 0, 0, 0.88);
}
.container {
  /* 1440 - 2 * 60 + 2 * 20 =1380 */
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition: 2s;
}
header {
  background-image: linear-gradient(
    to right,
    var(--bg-dark) 50%,
    var(--bg-blue) 50%
  );
  padding-top: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  gap: 60px;
}
.nav-menu__link {
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
#hamburger {
  color: rgba(255, 255, 255, 1);
}
.mers {
  display: flex;
  gap: 24px;
}
.mers img {
  color: white;
  width: 48px;
  height: 48px;
}
.nav-btn {
  display: flex;
  gap: 24px;
  transition: 2s;
}

.nav-btn__link {
  border: 1px solid rgba(255, 255, 255);
  padding: 16px 31px;
  transition: 2s;
  color: #ffff;
}
.IMAGEsa {
  color: white;
  font-size: 65px;
  margin: 200px 100px;
  display: flex;
}
.brend {
  background-color: #fcd251;
  border: 1px solid rgba(255, 255, 255);
  gap: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 130px 60px;
  gap: 50px;
  background-size: cover;
}
.Our {
  text-align: center;
  padding: 60px 30px;
  font-size: 35px;
}
h2 {
  text-align: center;
  font-size: 45px;
}

a:hover {
  color: #fdd14c;
}
.nav-btn__link:hover {
  background-color: #fdd14c;
  color: whitesmoke;
}
.box {
  background-image: url("../images/IMAGE\ \(8\).svg");
  background-repeat: no-repeat;
  background-size: 220vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 200px 150px;
}
h4 {
  padding: 30px 15px;
  font-size: 70px;
  color: whitesmoke;
}
h2 {
  color: whitesmoke;
  padding: 20px 10px;
}
h3 {
  color: white;
  padding: 0px 20px 30px 20px;
}
h5 {
  font-size: 15px;
  padding: 10px 10px;
}
.boxs {
  background-color: black;
  color: white;
  align-items: center;
}
button {
  font-family: "Orbitron", sans-serif;
  background-color: #57b8ff;
  color: white;
  width: 150px;
  height: 50px;
  transition: 2s;
  font-size: 15px;
  margin: 60px 25px;
}
.lorem55 {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(153, 153, 153, 1);
}
button:hover {
  background-color: rgb(252, 208, 76);
  color: white;
}
.foter {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(3, 3, 3);
}
.foot {
  background-color: black;
  padding: 50px 25px;
}
.btn-a {
  padding: 3px 0 20px 60px;
}
.btn-a a {
  color: white;
}
h6 {
  font-size: 72px;
  padding: 20px 10px;
}
.kk {
  gap: 96px;
  display: flex;
}
.footer {
  background-image: url("../images/IMAGE\ \(10\).svg");
  text-align: center;
  justify-content: center;
  padding: 129px 296px;
  background-repeat: no-repeat;
  background-size: 250vh;
}
input {
  width: 406px;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

.kl {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.ipip {
  display: flex;
  justify-content: center;
}
.p {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
.u {
  display: flex;
}
.img-p {
  display: flex;
}
.l {
  padding-top: 110px;
}
.h1h1 {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-align: start;

  color: rgba(255, 255, 255, 1);
}
.olov {
  text-align: start;
  padding-top: 163px;
}
.sed {
  text-align: start;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(223, 223, 223, 0.8);
}

@media (max-width: 2121px) {
  nav {
    flex-wrap: wrap;
  }
}
@media (max-width: 556px) {
  .nav-menu {
    padding-bottom: 20px;
    flex-wrap: wrap-reverse;
    text-align: center;
    justify-content: center;
  }
  .mers {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .IMAGEsa {
    flex-wrap: wrap;
  }
  .l img {
    width: 250px;
  }
}
@media (max-width: 1569px) {
  .l img {
    width: 500px;
  }
  .img-p {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 517px) {
  .img-p {
    flex-wrap: wrap;
  }
  .IMAGEsa {
    text-align: center;
    font-size: 40px;
  }
  .l img {
    width: 350px;
  }
  .brend {
    flex-direction: column;
  }
  .box {
    text-align: center;
    flex-wrap: wrap;
  }
  .box img {
    width: 30px;
    display: none;
    flex-wrap: wrap;
  }
  .box h2 {
    justify-content: center;
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 476px) {
  .box img {
    text-align: center;
    justify-content: center;
    width: 90px;
  }
  .l img {
    justify-content: center;
    text-align: center;
    width: 250px;
  }
  .IMAGEsa {
    font-size: 30px;
  }
  .ipip {
    flex-wrap: wrap;
  }
}
@media (max-width: 1731px) {
  .ipip {
    flex-wrap: wrap;
  }
}
@media (max-width: 499px) {
  .ipip {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .l img {
    width: 250px;
  }
  .ipip img {
    width: 300px;
  }
  .ipip h1 {
    display: none;
    font-size: 25px;
  }
  .ipip p {
    display: none;
    font-size: 15px;
  }
  .foter {
    flex-wrap: wrap;
  }
  .foter img {
    width: 300px;
  }
  .foot h4 {
    font-size: 25px;
  }
  .kk {
    flex-wrap: wrap;
  }
  .kk img {
    width: 280px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer h6 {
    font-size: 15px;
  }
  .footer h5 {
    display: none;
    font-size: 15px;
  }
  .footer input {
    flex-wrap: wrap;
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 308px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer h6 {
    display: none;
  }
  .footer input {
    width: 100px;
    height: 30px;
  }
}
@media (max-width: 350px) {
  .gamer {
    padding-bottom: 60px;
  }
}
@media (max-width: 812px) {
  .footer {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  .footer h6 {
    text-align: center;
    font-size: 35px;
  }
  .footer h5 {
    display: none;
  }
  .footer input {
    width: 225px;
    height: 40px;
  }
}
@media (max-width: 440px) {
  .footer {
    flex-direction: column;
    display: none;
  }
}
@media (max-width: 320px) {
  .foter img {
    width: 140px;
  }
  .gamer {
    margin: 20px 0 40px;
  }
  .imglar img {
    width: 135px;
  }
  .mers {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .foot img {
    width: 240px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 625px) {
  .kk {
    flex-wrap: wrap;
  }
  .kk img {
    width: 390px;
  }
}
@media (max-width: 380px) {
  .kk img {
    width: 320px;
  }
}
@media (max-width: 390px) {
  .kk img {
    width: 280px;
  }
}
@media (max-width: 410px) {
  .kk img {
    width: 285px;
  }
}
@media (max-width: 634px) {
  .kk img {
    width: 320px;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .box {
    width: 320px;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .foot img {
    width: 300px;
  }
}
@media (max-width: 673px) {
  .footer {
    display: none;
  }
  .foot img {
    width: 280px;
    flex-wrap: wrap;
  }
}
@media (max-width: 629px) {
  .foot img {
    width: 440px;

    flex-wrap: wrap;
  }
}
@media (max-width: 275px) {
  .kk img {
    width: 220px;
  }
}
@media (max-width: 300px) {
  .kk img {
    width: 240px;
  }
}
@media (max-width: 322px) {
  .kk img {
    width: 220px;
  }
}
@media (max-width: 344px) {
  .kk img {
    width: 280px;
  }
}
@media (max-width: 390px) {
  .kk img {
    width: 300px;
  }
}
@media (max-width: 495px) {
  .kk img {
    width: 399px;
  }
}
@media (max-width: 320px) {
  .kk img {
    width: 260px;
  }
  .nav-menu {
    flex-direction: column;
  }
}
@media (max-width: 717px) {
  .kk img {
    width: 390px;
    flex-wrap: wrap;
  }
}
@media (max-width: 403px) {
  .kk img {
    width: 260px;
  }
  .foter img {
    width: 240px;
  }
}
